__pycache__/
*.pyc
*.pyo
build/
install/
log/
*.npz
File_BoMI_Naji/
README.md
reachy_bomi/tests/depth_camera.py
reachy_bomi/tests/elbow_135.py
reachy_bomi/tests/3_Reachy_the_greengrocer.ipynb
reachy_bomi/tests/param.py
*.png